	
  <footer class="main-footer">
	  &copy; 2023 <a href="https://rezeet.io/">Rezeet</a>. All Rights Reserved.
  </footer>

</div>
		<!-- Vendor JS -->
    <script src="/js/vendors.min.js"></script>
	
</body>

</html>